.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ececec;

  .Wrapper {
    display: flex;
    flex: 1;
    padding: 10px 15px;
    flex-direction: column;
  }

  &-link {
    color: #4487cf;
    text-decoration: none;
    height: 35px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 0.2em;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 768px) {
  .App {
    width: 100%;
    flex-direction: row;

    .Wrapper {
      display: block;
      flex: 1;
      padding: 50px 15px;
    }
  }
}
