@import '~normalize.css/normalize.css';

html,
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-bold {
  font-weight: bold;
}
